*{
    margin: 0;
}

.header_left img{
    height: 40px;
}

.user{
    border-radius: 50%;
    height: 40px;
    padding-top: 10px;
}

.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 5px 8px -9px rgb(0, 0, 0, 0.75);

}

.header_left{
    display: flex ;
    align-items: center;
    justify-content: space-evenly;
}

.header_input{
    display: flex;
    align-items: center;
    background-color: #eff2ef;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header_input input{
   border: none; 
   background-color: transparent;
   outline-width: 0;
}

.header_middle{
   display: flex; 
   flex: 1;
   justify-content: center;
}
.header_option .material-icons{
    font-size: xx-large;
    color: gray;
}

.header_option:hover .material-icons{
    color: #2e81f4;
}

.header_option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_option.active .material-icons{
    color: #2e81f4;
}

.header_option.active{
    border-bottom: 4px solid #2e81f4;
}

.header_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_info{
    display: flex;
    align-items: center;
}

.header_info h4{
    margin-bottom: 10px;
}

.header_right{
    display: flex;
    align-items: center;
}

.header_right .material-icons{
    color: gray;
    margin: 0 10px;
    cursor: pointer;
}

/* sidebar style */

.sidebarRow{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.sidebarRow:hover{
    background-color: lightgrey;
    border-radius: 10px;
}

.sidebarRow h4{
    margin-left: 20px;
    font-weight: 600;
}

.sidebarRow .material-icons{
    font-size: xx-large;
    color: #2e81f4;
}

/*story style*/
.story{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 170px -7px rgb(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 100ms ease-in;
}

.story:hover{
    transform: scale(1.09);
}

.story_avatar{
    margin: 10px;
}

.story h4{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: black;
}

.storyReel{
    padding: 10px 0;
    display: flex;
}

.main_body{
    display: flex;
}

body{
    background-color: #f1f2f5;
}

.feed{
    flex: 1;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sdebar{
    padding: 25px 100px;
    flex: 0.33;
}


/*style whats in your mind box*/

.postbox{
    display: flex;
    margin-top:30px ;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 5px 7px -7px rgb(0, 0, 0, 0.75);
}

.postbox_top{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.postbox_top form{
    flex: 1;
    display: flex;
}

.postbox_top form input{
    flex: 1;
    outline-width: 0;
    padding: 15px 20px;
    border: none;
    border-radius: 999px;
    background-color: #eff2f5;
}

.postbox_bottom{
    display: flex;
    justify-content: space-evenly;
}

.postbox_option{
    padding: 8px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}

.postbox_option h3{
    font-size: medium;
    margin-left: 10px;
}

.postbox_option:hover{
    cursor: pointer;
    background-color: #eff2f5;
    border-radius: 20px;
}

/*post style*/
.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 170px -7px rgb(0, 0, 0, 0.75);
}

.post_image img{
    width: 100%;
}

.post_top{
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post_avatar{
    margin-right: 10px;
}
.post_topInfo h3{
    font-size: medium;
}

.post_topInfo p{
    font-size: small;
    color: gray;
}

.post_bottom{
margin-top: 10px;
margin-bottom: 10px;
padding: 15px 25px;
}

.post_options{
    padding-top: 10px;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.postbox_option{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post_option h4{
    margin-left: 10px;
}

.post_option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
}

@media (max-width: 768px){
    .sidebar{
        display: none;
    }
    .header_input input{
        display: none;
    }
    .header_middle{
        display: none;
    }
    .header_info{
        display: none;
    }
    .fb-page{
        display: none;
    }
    .feed{
        margin-top:20px ;
        padding: 0;
        width: 100%;
    }

    .story h4{
        font-size: 10px;
    }
    .story img{
        width: 40px;
    }
}

@media only screen and (min-width: 320px){
    .storyReel{
        width: 100%;
        overflow: scroll;
    }
}

@media (min-width:769px) and (max-width:1440px){
    .feed{
        width: 50%;
        padding: 10px 50px;
    }
}